@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');
body {
  background-color: #5cd9d5ff;
  margin: 0;
  font-family: 'Oldenburg', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
